.bold {
	font-weight: bold;
}

label, input, select {
  display: inline-block;
  margin-bottom: 5px;
}

label {
	width: 200px;
}

input, select {
	width: 150px;
}

input[type="submit"] {
	display: inline-block !important;
	margin-top: 10px !important;
}

table {
	border-collapse: collapse;
}

@media screen and (min-width: 961px) {
	table {
		max-width: 550px;
	}
}

tr.warning td {
	background-color: #F2DFA7;
}

th {
	background-color: #e1e1e1;
	font-weight: bold !important;
}

td, th {
	border: 1px solid #e1e1e1;
}

td.border {
	border-bottom:  2px solid #e1e1e1;
}